html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

header {
  margin: 0 0;
}

div {
  margin: 0 0;
}

#root {
  border: 1px solid violet;
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

header {
  border: 1px solid red;
  height: 10%;
}

#container {
  border: 5px solid blue;
  display: flex;
  height: 90%;
  flex: 1;
  flex-direction: column;
}

.sub-container {
  border: 2px solid gold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.inner-sub-container {
  border: 1px solid green;
  width: 50%;

  /* flex-grow: 1; */
}

#planning {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Responsive Design */
@media only screen and (max-width: 620px) {
  /* mobile phones */
  .sub-container {
    flex-direction: column;
  }
  .inner-sub-container {
    border: 1px solid green;
    width: 100%;
  }
}
